@import url("fonts/Intro/stylesheet.css");

html,
body {
  height: 100%;
}
body {
  font-family: 'Intro';
  color: #000;
  &.hidden {
    overflow: hidden;
  }
}
.wrapper {
  @include prefix-flexbox();
  @include prefix-flex-direction(column);
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
.container{
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  @include laptop {
    max-width: 950px;
  }
}
.section {

}
p,span{
  font-size: 16px;
}
a{
  text-decoration: none;
  color: #fff;
}

